body {
    background-color: #242424;
    /* Dark background color */
    margin: 0;
    padding: 0;
}

.dashboard {
    text-align: center;
    color: #ffffff;
    /* White text color */
    font-family: 'PT Sans', sans-serif;
}

.dropdown-container {
    margin: 20px auto;
    text-align: center;
}

.dropdown-container select {
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    background-color: #2d2d2d;
    /* Darker dropdown background color */
    color: #ffffff;
    /* White text color */
    border: 1px solid #333333;
    /* Dark border */
    border-radius: 8px;
    /* Rounded corners */
}

.dashboard-container {
    padding: 60px;
    color: #ffffff;
    /* White text color */
    font-family: 'PT Sans', sans-serif;
}

.select {
    padding: 10px;
    font-size: 16px;
}

.stock-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.stock-images img {
    width: 600px;
    height: auto;
    margin: 10px;
    border: 1px solid #333333;
    /* Dark border */
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    /* Shadow */
}

.sentiment-graph img {
    max-width: 30%;
    margin-top: 20px;
    margin-left: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.news {
    margin-top: 20px;
}

.card {
    border: 1px solid #333333;
    /* Dark border */
    border-radius: 8px;
    /* Rounded corners */
    padding: 16px;
    margin-bottom: 16px;
    background-color: #2d2d2d;
    /* Darker background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    /* Shadow */
}

.card h4 {
    margin-top: 0;
    color: #ffffff;
    /* White text color */
    font-size: 1.2rem;
}

.card p {
    margin-bottom: 0;
    color: #bfbfbf;
    /* Light text color */
    line-height: 1.5;
}

.predictions {
    margin-top: 20px;
}

.predictions h2 {
    text-align: justify;
}

.predictions p {
    color: #bfbfbf;
    /* Light text color */
}

.predictions table {
    width: 60%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
}

.predictions th,
.predictions td {
    padding: 7px;
    border: 1px solid #333333;
    /* Dark border */
}

.predictions th {
    background-color: #333333;
    /* Dark background color */
    font-weight: bold;
    color: #ffffff;
    /* White text color */
    text-align: center;
}

.predictions tbody tr:nth-child(even) {
    background-color: #333333;
    /* Dark background color */
}

.predictions tbody tr:hover {
    background-color: #444444;
    /* Slightly lighter background color on hover */
}

/* Responsive Layout */
@media (max-width: 768px) {
    .stock-images {
        flex-direction: column;
        align-items: center;
    }

    .dropdown-container select {
        width: 90%;
        max-width: none;
    }

    .stock-images img {
        width: 90%;
    }

    .sentiment-graph img {
        max-width: 60%;
        margin-top: 20px;
        margin-left: 50px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    .predictions table {
        width: 80%;
    }
}