.dashboard {
    text-align: center;
    color: #333;
}

.dropdown-container {
    margin: 20px auto;
    text-align: center;
}

.dropdown-container select {
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
}

.dashboard-container {
    padding: 60px;
    background-color: white;
}

.select {
    padding: 10px;
    font-size: 16px;
}

.stock-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.stock-images img {
    width: 600px;
    height: auto;
    margin: 5px;
}

.sentiment-graph img {
    max-width: 100%;
    margin-top: 20px;
}

.news {
    margin-top: 20px;
}

/* .news h3 {
    text-align: center;
} */

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #f9f9f9; /* Light background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.card h4 {
    margin-top: 0;
    color: #333; /* Darken the title color */
    font-size: 1.2rem; /* Increase title font size */
}

.card p {
    margin-bottom: 0;
    color: #666; /* Darken the description color */
    line-height: 1.5; /* Increase line height for better readability */
}


/* Responsive Layout */
@media (max-width: 768px) {
    .stock-images {
        flex-direction: column;
        align-items: center;
    }

    .dropdown-container select {
        width: 90%;
        max-width: none;
    }

    .stock-images img {
        width: 90%;
        /* Adjust as needed */
    }
}