body {
    background-color: #242424;
}

.signup-page {
    width: 300px;
    margin: 50px auto; /* Center the signup page vertically and horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; /* Light background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.signup-page h2 {
    text-align: center;
    margin-bottom: 20px; /* Add some space below the heading */
    color: #333; /* Dark text color */
}

.signup-page form {
    display: flex;
    flex-direction: column;
}

.signup-page input {
    margin-bottom: 15px; /* Increase space between input fields */
    padding: 10px; /* Increase padding */
    border-radius: 3px;
    border: 1px solid #ccc;
    transition: border-color 0.3s; /* Add transition effect for better interaction */
}

.signup-page input:focus {
    outline: none; /* Remove outline on focus */
    border-color: #007bff; /* Change border color on focus */
}

.signup-page .error-message {
    color: red;
    margin-top: 5px; /* Adjust margin */
}

.signup-page button {
    padding: 10px 20px; /* Increase padding */
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition effect */
}

.signup-page button:hover {
    background-color: #0056b3;
}
