body {
    background-color: white;
}

.support {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    font-size: 100px;
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}
